[submodule ".config/neomutt/gruvbox"]
	path = .config/neomutt/gruvbox
	url = https://git.sthu.org/repos/mutt-gruvbox.git
[submodule ".config/neomutt/mutt-colors-solarized"]
	path = .config/neomutt/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
[submodule ".config/yazi/flavors"]
	path = .config/yazi/flavors
	url = https://github.com/yazi-rs/flavors.git
[submodule ".config/yazi/plugins/ouch.yazi"]
	path = .config/yazi/plugins/ouch.yazi
	url = https://github.com/ndtoan96/ouch.yazi.git
